service touch_report /odm/bin/touch_report
    disabled
    override

# Charging
on boot
    chown system system /sys/class/power_supply/battery/input_suspend
    chown system system /sys/class/qcom-battery/input_suspend
    chmod 0660 /sys/class/power_supply/battery/input_suspend
    chmod 0660 /sys/class/qcom-battery/input_suspend
